---
import Link from "@ui/Link.astro"
---

<div
	class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
	<h2 class="text-white text-4xl md:text-6xl tracking-tight">Stake on tea</h2>
	<p class="text-slate-400 mt-4 text-lg md:text-xl">Learn about tea’s Decentralized Protocol</p>
	<div class="flex mt-5">
		<Link
			href="https://docs.tea.xyz/tea/i-want-to.../learn-about-teas-decentralized-protocol"
			style="inverted"
			blank={true}>Get Started</Link
		>
	</div>
</div>
